# Dépendances requises pour l'exécution du script d'installation/build
# Le script vérifie l'installation, mais il est standard de le lister.
pyinstaller

# Dépendances principales du projet Python (utilisation directe ou forte)
lcu_driver
ttkbootstrap
Pillow
pystray
keyboard
pygame
psutil

# Dépendances standard utilisées indirectement ou par des utilitaires
requests
urllib3